body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
#navbar {
	position:fixed;
	height: 100px;
	background: black;
	z-index: 1;
}

.button-container{
	position: relative;
	height: 50px;
}

.button-left{
	height: 35px;
	width: 35px;
	cursor: pointer;
	background: url("img/glyph/chevron-left.png");
	background-repeat: no-repeat;
	float: left;
	display: block;
	margin: 0 auto;
}
.button-right{
	height: 35px;
	width: 35px;
	cursor: pointer;
	background: url("img/glyph/chevron-right.png");
	background-repeat: no-repeat;
	float: left;
	display: block;
	margin: 0 auto;
}
.buttons{
	padding-top: 10px;
	width: 105px;
	height: 35px;
	margin: 0 auto;
}

#body{
	overflow:hidden;
}

#container{
	top:100px;
	position: relative;
	overflow:hidden;
}

#event-container{
	position: relative;
	overflow:hidden;
	padding-top: 150px;
	margin: 0 auto;
}

#event-container div{
	float:left;
}

.h1{
	text-align: center;
}
