body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}

#horizontalMovingBox{
	float:left;
	height: 1500px;
	width: 800px;
	position: absolute;
}

#horizontalMovingBox div{
	float:left;
	height: 1500px;
	width: 200px;
	vertical-align: middle;
}

